<div class="btn-group btn-breadcrumb" ng-show="vm.hasData()">
  <a href="#/accounts" nb-crumb-home></a>
  <a href="#/accounts" nb-crumb>Accounts</a>
</div>
<br />
<br />
<p ng-show="!vm.hasData()">
  <i class="fa fa-spinner fa-spin"></i> Gathering the requested list of Accounts...
</p>
<div class="row alert alert-danger" ng-show="vm.serverErrors.length > 0">
  <div class="col-sm-offset-2 col-sm-8 text-center">
      <ul>
        <li ng-repeat="msg in vm.serverErrors">{{ msg }}</li>
      </ul>
  </div>
</div>
<table nb-table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="icons">
      </th>
      <th class="icons">
      </th>
      <th class="icons">
        <a href="#/account/create" nb-create-icon></a>
      </th>
    </tr>
  </thead>
  <tr ng-repeat="account in vm.accounts">
    <td ng-bind="account.name"></td>
    <td class="icons">
      <a href="#/categories/{{ account.id }}" nb-list-icon></a>
      <a href="#/budgets/{{ account.id }}" nb-dollar-icon></a>
    </td>
    <td class="icons">
      <a href="#/ledger/import/{{ account.id }}" nb-import-icon></a>
    </td>
    <td class="icons">
      <a href="#/account/update/{{ account.id }}" nb-edit-icon></a>
      <a href="#/account/delete/{{ account.id }}" nb-delete-icon></a>
    </td>
  </tr>
</table>
