<div class="btn-group btn-breadcrumb" ng-show="vm.hasData">
  <a href="#/accounts" nb-crumb-home></a>
  <a href="#/account/update/{{ vm.account.id }}" nb-crumb ng-bind="vm.account.name"></a>
  <a href="#/categories/{{ vm.account.id }}" nb-crumb>Categories</a>
  <a href="#/budgets/{{ vm.account.id }}" nb-crumb>Budgets</a>
</div>
<br />
<br />
<p ng-show="!vm.hasData">
  <i class="fa fa-spinner fa-spin"></i> Gathering the requested list of Budgets...
</p>
<div class="row alert alert-danger" ng-show="vm.serverErrorSummary.length > 0">
  <div class="col-sm-offset-2 col-sm-8 text-center">
    {{ vm.serverErrorSummary }}
  </div>
</div>
<table nb-table>
  <thead>
    <tr>
      <th>{{ vm.account.name }}</th>
      <th class="text-right" style="width: 75px" ng-bind="vm.account.weeklyAmount | number:0" ng-class="{ danger: vm.account.weeklyAmount < 0 }"></th>
      <th class="text-right" style="width: 75px" ng-bind="vm.account.monthlyAmount | number:0" ng-class="{ danger: vm.account.monthlyAmount < 0 }"></th>
      <th class="text-right" style="width: 75px" ng-bind="vm.account.yearlyAmount | number:0" ng-class="{ danger: vm.account.yearlyAmount < 0 }"></th>
      <th class="icons"></th>
      <th class="icons">
        <a href="#/category/create/{{ vm.account.id }}" nb-create-icon></a>
      </th>
    </tr>
  </thead>
</table>
<div ng-repeat="category in vm.categories">
  <table nb-table>
    <thead>
      <tr>
        <th ng-bind="category.name"></th>
        <th class="icons"></th>
        <th style="width: 50px"></th>
        <th class="text-right" style="width: 75px">W</th>
        <th class="text-right" style="width: 75px">M</th>
        <th class="text-right" style="width: 75px">Y</th>
        <th class="icons">
          <a href="#/category/update/{{ category.accountId }}/{{ category.id }}" nb-edit-icon></a>
          <a href="#/category/delete/{{ category.accountId }}/{{ category.id }}" nb-delete-icon></a>
        </th>
        <th class="icons">
          <a href="#/budget/create/{{ vm.account.id }}?categoryId={{ category.id }}" nb-create-icon></a>
        </th>
      </tr>
    </thead>
    <tbody ui-sortable="{stop: vm.updateSequences}" ng-model="category.budgets">
      <tr ng-repeat="budget in category.budgets">
        <td ng-bind="budget.name"></td>
        <td class="text-right">{{ budget.amount | number:0 }}</td>
        <td class="text-left">x {{ budget.frequency }}</td>
        <td class="text-right">{{ budget.weeklyAmount | number:0 }}</td>
        <td class="text-right">{{ budget.monthlyAmount | number:0 }}</td>
        <td class="text-right">{{ budget.yearlyAmount | number:0 }}</td>
        <th class="icons">
          <a href="#/budget/update/{{ budget.accountId }}/{{ budget.id }}" n nb-edit-icon></a>
          <a href="#/budget/delete/{{ budget.accountId }}/{{ budget.id }}" nb-delete-icon></a>
        </th>
        <th class="icons">
          <a href="#" nb-move-icon></a>
        </th>
      </tr>
    </tbody>
  </table>
</div>
