<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Augment" version="1.5.5819.19079" targetFramework="net451" />
  <package id="Augment.Caching" version="1.2.5823.19651" targetFramework="net451" />
  <package id="Ensure.That" version="4.0.0" targetFramework="net451" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net451" />
  <package id="Insight.Database" version="5.2.7" targetFramework="net451" />
  <package id="Insight.Database.Core" version="5.2.7" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="SimpleInjector" version="3.1.2" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.1.2" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="3.1.2" targetFramework="net451" />
</packages>