<div class="btn-group btn-breadcrumb" ng-show="vm.hasData()">
  <a href="#/accounts" nb-crumb-home></a>
  <a href="#/account/update/{{ vm.account.id }}" nb-crumb ng-bind="vm.account.name"></a>
  <a href="#/categories/{{ vm.account.id }}" nb-crumb>Categories</a>
  <a href="#/budgets/{{ vm.account.id }}" nb-crumb>Budgets</a>
</div>
<br />
<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-sm">
      <form name="ledgerForm" ng-submit="vm.save(vm.ledger)" novalidate>
        <p ng-show="!vm.hasData">
          <i class="fa fa-spinner fa-spin"></i> Gathering the requested Ledger Data ...
        </p>
        <div class="form-horizontal" role="form" ng-show="vm.hasData()">

          <div class="form-group alert alert-danger" ng-show="vm.serverErrorSummary.length > 0">
            <ul class="col-sm-offset-4 col-sm-8">
              <li ng-repeat="msg in vm.serverErrorSummary">{{ msg }}</li>
            </ul>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">
              Id
            </label>
            <div class="col-sm-8 form-control-static">
              <span ng-bind="vm.account.id"></span>,
              <span ng-bind="vm.ledger.id"></span>,
              <span ng-bind="vm.ledger.date | date:'yyyy-MM-dd'"></span>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error': ledgerForm.budgetId.$invalid }">
            <label class="col-sm-4 control-label">
              Budget Id
            </label>
            <div class="col-sm-8">
              <select class="form-control" ng-model="vm.ledger.budgetId"
                      ng-disabled="vm.action == 'delete'" ng-required="true"
                      ng-options="budget.id as budget.fullName for budget in vm.budgets"></select>
              <div class="help-block" ng-messages="ledgerForm.budgetId.$error">
                <div ng-message="server">{{ vm.serverErrors.budgetId }}</div>
                <div ng-message="required">'Budget Id' is required</div>
                <div ng-message="maxlength">The max length for 'Budget Id' is 2 characters</div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': ledgerForm.description.$invalid }">
            <label class="col-sm-4 control-label">
              Description
            </label>
            <div class="col-sm-8">
              <input class="form-control" name="description" ng-model="vm.ledger.description"
                     ng-disabled="true" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': ledgerForm.amount.$invalid }">
            <label class="col-sm-4 control-label">
              Amount
            </label>
            <div class="col-sm-8">
              <input class="form-control" name="amount" ng-model="vm.ledger.amount"
                     ng-disabled="true" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': ledgerForm.balance.$invalid }">
            <label class="col-sm-4 control-label">
              Balance
            </label>
            <div class="col-sm-8">
              <input class="form-control" name="balance" ng-model="vm.ledger.balance"
                     ng-disabled="true" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" class="btn btn-primary">Update</button>
              <a href="#/accounts" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
