@model AnalysisViewModel

@{
  ViewBag.Title = "Analysis";
}

@Html.Partial("_Tabs", Model.Account)

<script src="@Url.Content("~/App/Analysis.js")"></script>

<script type="text/javascript">
  var data = @Html.Raw(Model.ToJson());

  var vm = new AnalysisViewModel(data);

  $(function(){
    $('li[tab-analysis]').addClass('active');

    ko.applyBindings(vm, $('#analysis').get(0));

    $('[data-toggle="tooltip"]').tooltip();

  });

  function updateTable($table)
  {
    // Change the selector if needed
    var $bodyCells = $table.find('tbody tr:first').children(),
        colWidth;

    // Get the tbody columns width array
    colWidth = $bodyCells.map(function ()
    {
      return $(this).width();
    }).get();

    // Set the width of thead columns
    $table.find('thead tr').children().each(function (i, v)
    {
      $(v).width(colWidth[i]);
    });
  }
</script>

<div id="analysis">
  <br />
  <table class="table table-condensed budget-display-table">
    <thead>
      <tr style="color: #777;">
        <th>&nbsp;</th>
        <!-- ko foreach: headers -->
        <th class="text-center" colspan="2" style="width: 12.5%" data-bind="css: { 'budget-display-history-week': isHistory, 'budget-display-active-week': isCurrent }">
          <span data-toggle="tooltip" data-bind="text: title, attr: { title: dateRange }">{{ title }}</span>
        </th>
        <!-- /ko -->
      </tr>
      <tr style="color: #777;">
        <th>
          ANALYSIS
        </th>
        <!-- ko foreach: headers -->
        <th class="text-center" colspan="2" style="width: 12.5%" data-bind="css: { 'danger': Math.round(variance(), 0) < 0, 'success': Math.round(variance(), 0) > 0 }">
          <!-- ko if: isHistory -->
          <i data-placement="top" data-toggle="tooltip" data-bind="attr: { title: tooltip() }, text: variance() | fixed"></i>*
          <!-- /ko -->
          <!-- ko if: isCurrent -->
          <i data-placement="top" data-toggle="tooltip" data-bind="attr: { title: tooltip() }, text: projection() | fixed"></i>
          <!-- /ko -->
          <!-- ko if: isFuture -->
          <i data-placement="top" data-toggle="tooltip" data-bind="attr: { title: tooltip() }, text: projection() | fixed"></i>
          <!-- /ko -->
        </th>
        <!-- /ko -->
      </tr>
      <tr style="color: #777;">
        <th>
          &nbsp;
        </th>
        <!-- ko foreach: headers -->
        <td class="actual" data-bind="text: actual() | fixed"></td>
        <td class="budget" data-bind="text: budget() | fixed"></td>
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="foreach: details">
      <tr data-bind="css: { category: isCategory, budget: !isCategory}">
        <!-- ko if: isCategory -->
        <td colspan="11" data-bind="text: title"></td>
        <!-- /ko -->
        <!-- ko if: !isCategory -->
        <td data-bind="text: title"></td>
        <!-- ko foreach: values -->
        <td class="actual" data-bind="text: actual | fixed, click: $root.showLedgers.bind($data, $parent, $index())"></td>
        <td class="budget" data-bind="text: variance() | fixed, click: $root.showAdjustments.bind($data, $parent, $index()), css: { 'danger': Math.round(variance() * multiplier, 0) < 0, 'success': Math.round(variance() * multiplier, 0) > 0 }"></td>
        <!-- /ko -->
        <!-- /ko -->
      </tr>
    </tbody>
  </table>
</div>

<div id="ledgers" style="display: none">
  <div class="ledgers-display">
    <table class="table table-condensed table-striped">
      <tbody data-bind="foreach: ledgers">
        <tr>
          <td data-bind="text: date | date"></td>
          <td data-bind="text: description"></td>
          <td data-bind="text: amount | fixed"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="adjustments" style="display: none">
  <div class="adjustments-display form-group">
    <form class="form-horizontal">
      <table class="table table-condensed table-striped">
        <!--
        <thead>
          <tr>
            <td colspan="2">
              <input class="form-control input-sm" placeholder="description" />
            </td>
            <td>
              <input class="form-control input-sm" placeholder="amount" />
            </td>
          </tr>
        </thead>
        -->
        <tbody data-bind="foreach: adjustments">
          <tr>
            <td data-bind="text: date | date"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: amount | fixed"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>