@model BudgetsViewModel

@{
  ViewBag.Title = "Budgets";
}

@Html.Partial("_Tabs", Model.Account)

<script src="@Url.Content("~/App/Budgets.js")"></script>

<script type="text/javascript">
  var data = @Html.Raw(Model.ToJson());

  var vm = new BudgetListViewModel(data);

  $(function(){

    $('li[tab-budgets]').addClass('active');

    ko.applyBindings(vm, $('#budgets').get(0));

    $('table.table-sortable tbody').sortable({
      items: "tr:not(.ui-state-disabled)",
      update: vm.sequences,
      helper: nbHelper.sortable
    });
  });
</script>

<div id="budgets">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <th class="icons"></th>
        <th style="width: 50px"></th>
        <th class="text-right" style="width: 85px" data-bind="text: weekly | fixed, css:  { danger: variance < 0 }"></th>
        <th class="text-right" style="width: 85px" data-bind="text: monthly | fixed, css:  { danger: variance < 0 }"></th>
        <th class="text-right" style="width: 85px" data-bind="text: yearly | fixed, css:  { danger: variance < 0 }"></th>
        <th class="icons"></th>
      </tr>
    </thead>
  </table>

  <div data-bind="foreach: categories" style="margin-top: 16px">
    <table class="table table-condensed table-striped table-sortable">
      <thead>
        <tr>
          <th data-bind="text: name"></th>
          <th class="icons"></th>
          <th style="width: 50px"></th>
          <th class="text-right" style="width: 85px">W</th>
          <th class="text-right" style="width: 85px">M</th>
          <th class="text-right" style="width: 85px">Y</th>
          <th class="icons">
            <a href="#" data-bind="click: $root.create" nb-create-icon></a>
          </th>
        </tr>
      </thead>
      <tbody data-bind="foreach: budgets">
        <tr>
          <td data-bind="text: name, attr: { 'budget-id': id }"></td>
          <td class="text-right" data-bind="text: amount | fixed"></td>
          <td class="text-left">x {{ frequency }}</td>
          <td class="text-right" data-bind="text: weeklyAmount | fixed"></td>
          <td class="text-right" data-bind="text: monthlyAmount | fixed"></td>
          <td class="text-right" data-bind="text: yearlyAmount | fixed"></td>
          <th class="icons">
            <a href="#" data-bind="click: $root.update" nb-update-icon></a>
            <a href="#" data-bind="click: $root.delete" nb-delete-icon></a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div id="form-body" style="display: none;">
  <form class="form-horizontal">

    <div class="form-group" data-bind="visible: creating()">
      <label class="col-sm-4 control-label">
        ID
      </label>
      <div class="col-sm-8 form-control-static" data-bind="text: id"></div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Name
      </label>
      <div class="col-sm-8">
        <input class="form-control" name="name" data-bind="value: name" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Category
      </label>
      <div class="col-sm-8">
        <select class="form-control" name="categoryId" data-bind="options: categories, optionsText: 'name', optionsValue: 'id', optionsCaption: '(select category)', value: categoryId"></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Frequency
      </label>
      <div class="col-sm-8">
        <select class="form-control" name="frequency" data-bind="options: frequencies, optionsText: 'name', optionsValue: 'id', value: frequency"></select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Amount
      </label>
      <div class="col-sm-8">
        <input class="form-control" name="amount" data-bind="value: amount" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Start/End Date
      </label>
      <div class="col-sm-4">
        <input class="form-control" name="startDate" data-bind="value: startDate" />
      </div>
      <div class="col-sm-4">
        <input class="form-control" name="endDate" data-bind="value: endDate" />
      </div>
    </div>

  </form>
</div>
