@model ImportViewModel

@{
  ViewBag.Title = "Import";
}

@Html.Partial("_Tabs", Model.Account)

<script src="@Url.Content("~/App/Import.js")"></script>

<script type="text/javascript">
  var data = @Html.Raw(Model.ToJson());

  var dvm = new ImportDetailModel(data);

  var lvm = new ImportListModel(data);

  $(function(){
    $('li[tab-import]').addClass('active');

    ko.applyBindings(lvm, $('#ledgers').get(0));

    dvm.start(lvm);
  });
</script>

<div id="ledgers">
  <br/>
  <form class="form-horizontal">

    <div data-bind="template: { name: 'ledger-template', if: ledger, data: ledger }"></div>

    <div class="form-group" data-bind="visible: mapping">
      <div class="col-sm-offset-4 col-sm-8" data-bind="foreach: budgets" style="height: 300px; overflow-y: scroll;">
        <div class="radio">
          <label>
            <input type="radio" data-bind="value: id, click: $parent.mapIt">
            <span data-bind="text: fullName"></span>
          </label>
        </div>
      </div>
    </div>

  </form>
</div>

<div id="import-form-body" style="display: none;">
  <form class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" name="transactions" data-bind="value: transactions" rows="9"></textarea>
      </div>
    </div>

    <div data-bind="template: { name: 'ledger-template', if: ledger, data: ledger }"></div>

  </form>
</div>

<script type="text/html" id="ledger-template">

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">
        <p class="form-control-static" data-bind="text: date | date"></p>
      </label>
      <div class="col-sm-8">
        <p class="form-control-static" data-bind="text: description"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Amount
      </label>
      <div class="col-sm-2">
        <p class="form-control-static" data-bind="text: amount | fixed:2"></p>
      </div>
      <label class="col-sm-2 control-label">
        Balance
      </label>
      <div class="col-sm-2">
        <p class="form-control-static" data-bind="text: balance | fixed:2"></p>
      </div>
    </div>
  </div>

</script>
