<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file type="log4net.Util.PatternString" value="App_Data\logs\%date{yyyy-MM}\log"/>
    <datePattern value=".yyyyMMdd_HH"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-5level %-5thread %-20.20logger{1} %-30.30property{url}] %message%newline"/>
    </layout>
  </appender>
</log4net>
